/*******************  STYLES *******************/
$defaultSpace: 10px;

@import "colors";
@import "contact";
@import "recetas";



a {
  color: black;
  text-decoration: none;
  padding: 4px;

  &:hover {
    color: $white;
  }
}

article {
  border: 1px solid $primary;
  border-radius: 10px;
  display: inline-block;
  margin: $defaultSpace * 1.5;
  padding: $defaultSpace * 2;
  text-align: center;
  width: 200px;
}

aside {
  grid-area: aside;
  text-align: center;
  padding: 0 $defaultSpace*2 0 $defaultSpace*2;
}


body {
  background-image: url("../img/pecan-bbbbbb.svg");
  background-position-y: bottom;
  background-repeat: repeat-x;
  background-size: 5%;
  background-color: $background;
  font-family: 'Baloo 2', sans-serif;
  padding-bottom: $defaultSpace*5;
  margin: 0;
}



footer {
  grid-area: footer;
  text-align: center;
  padding-top: $defaultSpace*2;
}




h1 {
  color: $primary;
  text-align: center;
}

h3 {
  color: $primary;
}



main {
  grid-area: main;
  justify-self: center;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;

    li:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}

section {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}



table {
  text-align: left;
}

td {
  background: $white;
  padding: $defaultSpace*0.5;
}

th {
  background: $secondary;
  padding: $defaultSpace;
}


/******************* CLASS STYLES *******************/
.button {
  background-color: $primary;
  color: $background;
  padding: $defaultSpace;
  margin: $defaultSpace*0.5;

  &:hover {
    color: $white;
  }
}

.go-home {
  margin: 0;
  padding: 0;
}

.price {
  margin: 1px;
  border-radius: 5px;
  padding: $defaultSpace*0.5;
  background-color: $white;
  font-weight: bolder;
  color: $primary;
}

.product {
  border: solid 1px $primary;
  border-radius: 100%;
}

.product-128 {
  height: 128px;
  width: 128px;
}

.product-name {
  font-weight: 600;
  font-size: 120%;
  font-variant-caps: all-petite-caps;
  min-height: 90px;
  max-height: 90px;
}

/******************* ELEMENT STYLES *******************/
#banner {
  grid-area: banner;
  justify-content: space-evenly;
  background: linear-gradient(180deg, rgba(134, 88, 88, 1) 0%, rgba(226, 213, 213, 1) 100%);
}

#banner-image {
  border-radius: 25px;
}

#campos-pecan {
  font-family: 'Lobster', cursive;
  font-size: xxx-large;
  align-self: center;
  padding-right: 5%;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "banner banner"
    "menu menu"
    "aside main"
    "footer footer";
  row-gap: $defaultSpace;
  column-gap: $defaultSpace;
}

#grid-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "banner""menu""main""footer";
  row-gap: $defaultSpace;
  column-gap: $defaultSpace;
}

#menu {
  grid-area: menu;
  height: 100px;
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  justify-content: space-between;
}