body {
    background-color: papayawhip;
}


#campos-pecan {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

img {
    width: 50px;
    height: 50px;
}

nav {
    background-color: brown;
}